<!DOCTYPE html>
<html>
<head>
	<title>Accueil administrateur</title>
	<% include ./header %>
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin/home.css">
</head>
<body>
	<div id="wrap">
		<% include ./navbar %>
	</div>
	<% include ./footer %>
</body>
</html>