<div id="connectionError" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Erreur de connexion</h4>
        </div>
  			<div class="modal-body">
   				<p>Identifiant ou mot de passe incorrect.</p>
  			</div>
		</div>
	</div>
</div>
